.Footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-size: clamp(14px, 0.8vw, 16px);
}

.Footer hr {
  width: var(--screenWidth);
  height: 0.4em;
  margin-bottom: 1em;
  border: none;
  background-color: var(--color4);
}

.footerContentList li {
  margin-bottom: 0.5em;
}
