.mainPageHeader {
  margin: 4em 1em;
}

.Header {
  margin: 2em 1em 3em 1em;
}

/*FIXME Imperfect */

/* .mainPageHeader h1,
.Header h1 {
  text-decoration: underline;
}

.mainPageHeader h1:hover,
.Header h1:hover {
  text-decoration-color: var(--linkHoverColor);
} */
