.mainPageHeader {
  margin: 4em 0;
}

.Header {
  margin: 2em 0em 3em 0em;
}

.mainPageHeader h1,
.Header h2 {
  text-decoration: underline;
  text-decoration-color: var(--color4);
}

.mainPageHeader h1:hover,
.Header h2:hover {
  text-decoration-color: var(--linkHoverColor);
}

@media (max-width: 500px) {
  .mainPageHeader {
    margin: 2em 0;
  }

  .Header {
    margin: 1em 0em 2em 0em;
  }
}
