.mainPageHeader {
  margin: 4em 0;
}

.Header {
  margin: 0em 0 1em 0;
  font-style: italic;
}

.Header h2 {
  font-size: clamp(16px, 1vw, 20px);
}

.mainPageHeader h1,
.Header h2 {
  text-decoration: underline;
  text-decoration-color: var(--color4);
}

.mainPageHeader h1:hover,
.Header h2:hover {
  text-decoration-color: var(--linkHoverColor);
}

@media (max-width: 500px) {
  .mainPageHeader {
    margin: 2em 0;
  }

  .Header {
    margin: 0.5em 0em 1em 0em;
  }
}
