.articleHeader {
  margin-bottom: 1.5em;
  text-align: left;
}

.articleHeader h1 {
  margin-bottom: 0.1em;
  text-align: left;
}

.blogDate {
  font-style: italic;
}

.blogNav {
  margin-top: 3em;
}

.blogNav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  font-style: italic;
}

@media (max-width: 500px) {
  .articleHeader {
    margin-bottom: 1em;
  }

  .blogNav {
    margin-top: 2em;
  }
}

/* markdown formatting */

.mdWrapper > * {
  margin: 1em 0;
}

.mdWrapper > ul,
.mdWrapper > ol {
  margin-left: 1em;
}

.mdWrapper li {
  margin: 0.5em 0;
  list-style: initial;
}

.mdWrapper h1 {
  text-align: left;
}

.mdWrapper table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

.mdWrapper table thead tr th {
  border-bottom: 1px solid var(--color2);
}

/*TODO Add quote icon before blockquote from FA & remove left border*/
.mdWrapper blockquote {
  padding: 0 0 0 1em;
  border-left: 0.4em solid var(--color3);
  font-style: italic;
  color: var(--lightTextColor);
}

.mdWrapper blockquote > *:not(li) {
  margin: 1em 0;
}

.mdWrapper blockquote > ul,
.mdWrapper blockquote > ol {
  margin-left: 1em;
}

.mdWrapper blockquote li {
  margin: 0.5em 0;
}

@media (max-width: 500px) {
  .mdWrapper blockquote {
    padding: 0 0 0 0.5em;
    border-left: 0.3em solid var(--color3);
  }
}
